{% extends "base.html" %}
{% block css_enable %}
    <link rel="stylesheet" href="static/css/panel.css">
{% endblock %}

{% block content %}
    <div class="container text-center" style="margin-top: 30px">
        <h2 class="color-purple">Недостаточно прав для просмотра страницы</h2>
        <svg width="315" height="234.99999999999997" xmlns="http://www.w3.org/2000/svg">
            <!-- Created with SVG Editor - http://github.com/mzalive/SVG Editor/ -->
            <g>
                <title>background</title>
                <rect fill="#fff" id="canvas_background" height="237" width="317" y="-1" x="-1"/>
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
                </g>
            </g>
            <g>
                <title>Layer 1</title>
                <rect rx="16" id="svg_3" height="109" width="275" y="28.78646" x="20" fill-opacity="0" stroke-width="11"
                      stroke="#59c173" fill="#0c265d"/>
                <ellipse ry="59" rx="59" id="svg_5" cy="158" cx="157.5" fill-opacity="0" stroke-width="11"
                         stroke="#5d26c1" fill="#0c265d"/>
                <line stroke-linecap="null" stroke-linejoin="null" id="svg_6" y2="199.0868" x2="198.5868" y1="116.91321"
                      x1="116.4132" fill-opacity="0" stroke-width="11" stroke="#5d26c1" fill="none"/>
                <line stroke="#5d26c1" stroke-linecap="null" stroke-linejoin="null" id="svg_7" y2="200.99528"
                      x2="114.50472" y1="115.67138" x1="199.82862" fill-opacity="0" stroke-width="11" fill="none"/>
                <ellipse ry="9.33333" rx="9.33333" id="svg_9" cy="64.00002" cx="61.83336" fill-opacity="0"
                         stroke-width="19" stroke="#59c173" fill="#0c265d"/>
                <ellipse ry="9.33333" rx="9.33333" id="svg_10" cy="64.00002" cx="109.16669" fill-opacity="0"
                         stroke-width="19" stroke="#59c173" fill="#0c265d"/>
                <ellipse ry="9.33333" rx="9.33333" id="svg_11" cy="64.00002" cx="249.83333" fill-opacity="0"
                         stroke-width="19" stroke="#59c173" fill="#0c265d"/>
                <ellipse ry="9.33333" rx="9.33333" id="svg_8" cy="64.00002" cx="155.83335" fill-opacity="0"
                         stroke-width="19" stroke="#59c173" fill="#0c265d"/>
                <ellipse ry="9.33333" rx="9.33333" id="svg_12" cy="64.00002" cx="203.16668" fill-opacity="0"
                         stroke-width="19" stroke="#59c173" fill="#0c265d"/>
            </g>
        </svg>
    </div>
{% endblock %}