{% extends "base.html" %}

{% block css_enable %}
    <link rel="stylesheet" href="static/css/panel.css">
{% endblock %}

{% block content %}
    <div class="container table">
        <div class="col-md-10 offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Участники</th>
                    <th scope="col">Сообщений</th>
                </tr>
                </thead>
                <tbody>
                {% for conf in conferences %}
                    {% if not conf.archived %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><img src="{{ conf.photo }}" alt="" width="50px"></td>
                            <td>{{ conf.title }}</td>
                            <td>{{ conf.members|length }}</td>
                            <td>{{ conf.msg_count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}